{% extends 'pages/base.html' %}
{% load webdesign %}

{% block title %}Велосипеды{% endblock %}
{% block menu_velo %}active{% endblock %}

{% block body %}
<div class="velo_wrap">
    <div class="container">
        <div class="velo_title row">
            <div class="velo_h1 col-md-6 col-md-offset-5">
                <h1>Велосипеды</h1>
                <p>Весело провести время в компании друзей, неспешно прогуляться по городу или проверить себя на выносливость в настоящем велопробеге вы сможете взяв напрокат велосипеды.</p>
                <p>{% lorem 7 w random %}</p>
            </div>
        </div>
        <div class="level_wrap row">
            <div class="col-md-4">
                <div class="column_wrap text-center">
                    <div class="level_img">
                        <img src="{{ STATIC_URL }}/i/stels.jpg" title="" class="img-responsive">
                    </div>
                    <h4>Любительский уровень</h4>
                    <div class="level_text">
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">150</div>
                            <div class="period">&nbsp;час</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">350</div>
                            <div class="period">&nbsp;3 часа</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">400</div>
                            <div class="period">&nbsp;5 часов</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">500</div>
                            <div class="period">&nbsp;день</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">600</div>
                            <div class="period">&nbsp;сутки</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="column_wrap text-center">
                    <div class="level_img">
                        <img src="{{ STATIC_URL }}/i/merida.jpg" title="" class="img-responsive">
                    </div>
                    <h4>Начальный уровень</h4>
                    <div class="level_text">
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">120</div>
                            <div class="period">&nbsp;час</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">250/<span>300*</span></div>
                            <div class="period">&nbsp;3 часа</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">300/<span>350*</span></div>
                            <div class="period">&nbsp;5 часов</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">400</div>
                            <div class="period">&nbsp;день</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">500</div>
                            <div class="period">&nbsp;сутки</div>
                        </div>
                    </div>
                </div>
                <div class="desc">* - выходные дни</div>
            </div>
            <div class="col-md-4">
                <div class="column_wrap text-center">
                    <div class="level_img">
                        <img src="{{ STATIC_URL }}/i/stels_s.jpg" title="" class="img-responsive">
                    </div>
                    <h4>Подростковые</h4>
                    <div class="level_text">
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">80</div>
                            <div class="period">&nbsp;час</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">250</div>
                            <div class="period">&nbsp;5 часов</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">300</div>
                            <div class="period">&nbsp;день</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">400</div>
                            <div class="period">&nbsp;сутки</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">700</div>
                            <div class="period">&nbsp;2 суток</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">1000</div>
                            <div class="period">&nbsp;3 суток</div>
                        </div>
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">1600</div>
                            <div class="period">&nbsp;неделя</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}