{% extends 'pages/base.html' %}
{% load webdesign %}

{% block title %}Велосипеды{% endblock %}
{% block menu_velo %}active{% endblock %}

{% block body %}
<div class="velo_wrap">
    <div class="container">
        <div class="velo_title row">
            <div class="velo_h1 col-md-6 col-md-offset-5">
                <h1>Велосипеды</h1>
                <p>Весело провести время в компании друзей, неспешно прогуляться по городу или проверить себя на выносливость в настоящем велопробеге вы сможете взяв напрокат велосипеды.</p>
                <p>{% lorem 7 w random %}</p>
            </div>
        </div>
        <div class="level_wrap row">
            {% for level in levels %}
            <div class="col-md-4">
                <div class="column_wrap text-center">
                    <div class="level_img">
                        <img src="{{ level.image.url }}" title="{{ level.name }}" class="img-responsive">
                    </div>
                    <h4>{{ level.name }}</h4>
                    <div class="level_text">
                        {% for p in level.velo_price.all %}
                        <div class="price_wrap">
                            <div class="rub">a</div>
                            <div class="price">
                                {{ p.price }}{% if p.holyday %}/<span>{{ p.holyday }}*</span>{% endif %}
                            </div>
                            <div class="period">&nbsp;{{ p.period }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% if forloop.first %}
                    <div class="desc">* - выходные дни</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}