{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<div class="index_blur">
    <div class="container">
        <div class="index_title">
            <div class="row">
                <div class="col-md-7">
                    <h1>Прокат спортивного снаряжения</h1>
                    <p>Мы готовы предложить вам лучшее снаряжение для занятий спортом и активным отдыхом. У вас появилась прекрасная возможность провести время с друзьями занимаясь любимыми видами спорта.</p>
                    <p>Позвоните нам перед приездом и мы подготовим необходимое вам снаряжение заранее.</p>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    {% if weather %}
                        <div class="weather_wrap">
                            <div class="row bg">
                                <div class="col-md-6">
                                    <h4>Москва</h4>
                                    <div class="sun"></div>
                                </div>
                                <div class="col-md-6 temp_c">{{ weather.data.current_condition.0.temp_C }}&deg;</div>
                            </div>
                            <div class="row sep"></div>
                            <div class="row sm"></div>
                            <!-- <div class="w_t">
                                <div></div>
                                {{ weather.data.current_condition.0.temp_C }}&deg;
                            </div>
                            <div class="w_m"></div>
                            <div class="w_b"></div> -->
                        </div>
                        {#{{ weather.data.current_condition }}#}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="services_wrap">
            <div class="row">
                {% for service in services %}
                    <div class="col-md-3">
                        <a href="">
                            <img src="{{ service.image.url }}" alt="{{ service.title }}" class="img-circle img-responsive">
                        </a>
                        <h3>{{ service.title }}</h3>
                        <p>{{ service.description }}</p>
                        <button type="button" class="btn btn-success">Подробнее</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container"></div>
{% endblock %}