.index_wrap {
  background: url(../i/blur_2.jpg) no-repeat 50% 0;
  color: #fff; }
  @media (max-width: 991px) {
    .index_wrap {
      background: url(../i/blur_m_2.jpg) no-repeat 50% 0; } }
  .index_wrap .index_title {
    padding: 50px 0 100px; }
    .index_wrap .index_title .main_h1 {
      text-shadow: 0 0 2px #000, 0 0 3px #ddd, 0 0 4px #000; }
  .index_wrap .services_wrap {
    background: url(../i/back_top_1.jpg) no-repeat 50% 0;
    padding-top: 20px;
    box-shadow: 0 0 0.4em #123456;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    @media (max-width: 991px) {
      .index_wrap .services_wrap {
        background: url(../i/back_m_1.jpg) no-repeat 50% 0; } }
    .index_wrap .services_wrap .col-md-3 {
      text-align: center; }
      .index_wrap .services_wrap .col-md-3 a {
        cursor: default; }
        .index_wrap .services_wrap .col-md-3 a img {
          cursor: pointer;
          width: 80%;
          margin: 0 auto 10px;
          box-shadow: 0 0 0.4em #444; }
        .index_wrap .services_wrap .col-md-3 a.btn {
          cursor: pointer;
          margin-bottom: 20px; }
      .index_wrap .services_wrap .col-md-3 p {
        width: 80%;
        margin: 0 auto 20px;
        padding-top: 5px; }

.weather_wrap {
  background: #222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0.4em #222; }
  .weather_wrap .bg > div {
    width: 50%;
    float: left; }
  .weather_wrap .bg .temp_c {
    padding-top: 30px;
    font-size: 6em; }
  .weather_wrap .sep {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background: #444; }
  .weather_wrap .sm > div {
    width: 25%;
    float: left; }
