@font-face {
  font-family: Knewave;
  src: url("../fonts/Knewave-Regular.ttf"); }

/* переопределяю bootstrap */
.navbar {
  margin-bottom: 0; }

.navbar-brand {
  font-size: 30px;
  font-family: Knewave; }

html, body {
  height: 100%;
  background: #ddddff; }

/* variables */
/*  */
.index_blur {
  background: url(../i/blur.jpg) no-repeat 50% 0 #ddddff;
  color: #fff; }
  .index_blur .index_title {
    padding: 50px 0 100px; }
  .index_blur .services_wrap {
    background: url(../i/back_top.jpg) no-repeat 50% 0 #ddddff;
    box-shadow: 0 0 0.4em #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .index_blur .services_wrap .col-md-3 {
      text-align: center; }
      .index_blur .services_wrap .col-md-3 a {
        cursor: default; }
        .index_blur .services_wrap .col-md-3 a img {
          cursor: pointer;
          width: 80%;
          margin: 20px auto 10px;
          box-shadow: 0 0 0.4em #444; }
      .index_blur .services_wrap .col-md-3 p {
        width: 80%;
        margin: 0 auto 20px;
        padding-top: 5px; }
      .index_blur .services_wrap .col-md-3 button {
        margin-bottom: 30px; }

.content_wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 150px; }

.footer {
  padding-top: 20px;
  margin-top: -100px;
  background: url(../i/pw_maze_black.png);
  height: 100px;
  color: #999; }
  .footer .right {
    text-align: right; }

.weather_wrap {
  height: 300px;
  background: #222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0.4em #222; }
  .weather_wrap .bg {
    height: 60%;
    text-align: center; }
    .weather_wrap .bg .sun {
      background: url(../i/weather_icons/tick_weather_020.png) no-repeat;
      height: 128px;
      width: 128px;
      margin: 0 auto; }
    .weather_wrap .bg .temp_c {
      padding-top: 30px;
      font-size: 6em; }
  .weather_wrap .sep {
    height: 1px;
    width: 94%;
    margin: 0 auto;
    background: #444; }
  .weather_wrap .sm {
    height: 40%; }
