.w_icons-sprite,
.w_icons-tick_weather_001,
.w_icons-tick_weather_008,
.w_icons-tick_weather_009,
.w_icons-tick_weather_010,
.w_icons-tick_weather_011,
.w_icons-tick_weather_012,
.w_icons-tick_weather_014,
.w_icons-tick_weather_015,
.w_icons-tick_weather_016,
.w_icons-tick_weather_018,
.w_icons-tick_weather_019,
.w_icons-tick_weather_020,
.w_icons-tick_weather_021,
.w_icons-tick_weather_022,
.w_icons-tick_weather_023,
.w_icons-tick_weather_024,
.w_icons-tick_weather_025,
.w_icons-tick_weather_028,
.w_icons-tick_weather_029,
.w_icons-tick_weather_030,
.w_icons-tick_weather_031,
.w_icons-tick_weather_032,
.w_icons-tick_weather_033,
.w_icons-tick_weather_036,
.w_icons-tick_weather_037,
.w_icons-tick_weather_038 {
    background:url('../i/w_icons.png') no-repeat;
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
.w_icons-tick_weather_001{background-position:0 -896px}
.w_icons-tick_weather_008{background-position:0 -2816px}
.w_icons-tick_weather_009{background-position:0 -2944px}
.w_icons-tick_weather_010{background-position:0 -3200px}
.w_icons-tick_weather_011{background-position:0 -768px}
.w_icons-tick_weather_012{background-position:0 -2560px}
.w_icons-tick_weather_014{background-position:0 -2432px}
.w_icons-tick_weather_015{background-position:0 -1024px}
.w_icons-tick_weather_016{background-position:0 -2688px}
.w_icons-tick_weather_018{background-position:0 -512px}
.w_icons-tick_weather_019{background-position:0 -2304px}
.w_icons-tick_weather_020{background-position:0 -256px}
.w_icons-tick_weather_021{background-position:0 -1920px}
.w_icons-tick_weather_022{background-position:0 -2048px}
.w_icons-tick_weather_023{background-position:0 -1664px}
.w_icons-tick_weather_024{background-position:0 -384px}
.w_icons-tick_weather_025{background-position:0 -2176px}
.w_icons-tick_weather_028{background-position:0 -128px}
.w_icons-tick_weather_029{background-position:0 -1280px}
.w_icons-tick_weather_030{background-position:0 -1152px}
.w_icons-tick_weather_031{background-position:0 -640px}
.w_icons-tick_weather_032{background-position:0 -1408px}
.w_icons-tick_weather_033{background-position:0 -3072px}
.w_icons-tick_weather_036{background-position:0 0}
.w_icons-tick_weather_037{background-position:0 -1536px}
.w_icons-tick_weather_038{background-position:0 -1792px}